@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
    <a href="/reports/course-capacity">View Course Capacity Report</a>
</p>

</div>
